<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不限</string>
	<string>写景</string>
	<string>咏物</string>
	<string>春天</string>
	<string>夏天</string>
	<string>秋天</string>
	<string>冬天</string>
	<string>写雨</string>
	<string>写雪</string>
	<string>写风</string>
	<string>写花</string>
	<string>梅花</string>
	<string>荷花</string>
	<string>菊花</string>
	<string>柳树</string>
	<string>月亮</string>
	<string>山水</string>
	<string>写山</string>
	<string>写水</string>
	<string>长江</string>
	<string>黄河</string>
	<string>儿童</string>
	<string>写鸟</string>
	<string>写马</string>
	<string>田园</string>
	<string>边塞</string>
	<string>地名</string>
	<string>抒情</string>
	<string>爱国</string>
	<string>离别</string>
	<string>送别</string>
	<string>思乡</string>
	<string>思念</string>
	<string>爱情</string>
	<string>励志</string>
	<string>哲理</string>
	<string>闺怨</string>
	<string>悼亡</string>
	<string>写人</string>
	<string>老师</string>
	<string>母亲</string>
	<string>友情</string>
	<string>战争</string>
	<string>读书</string>
	<string>惜时</string>
	<string>婉约</string>
	<string>豪放</string>
	<string>诗经</string>
	<string>楚辞</string>
	<string>乐府</string>
	<string>民谣</string>
	<string>节日</string>
	<string>春节</string>
	<string>元宵节</string>
	<string>寒食节</string>
	<string>清明节</string>
	<string>端午节</string>
	<string>七夕节</string>
	<string>中秋节</string>
	<string>重阳节</string>
	<string>忧国忧民</string>
	<string>咏史怀古</string>
	<string>宋词精选</string>
	<string>小学古诗</string>
	<string>初中古诗</string>
	<string>高中古诗</string>
	<string>小学文言文</string>
	<string>初中文言文</string>
	<string>高中文言文</string>
	<string>古诗十九首</string>
	<string>唐诗三百首</string>
	<string>古诗三百首</string>
	<string>宋词三百首</string>
	<string>古文观止</string>
</array>
</plist>
